body {
    background-color: rgba(99, 19, 19, 0.965);
}

h1 {
    color: rgba(255, 255, 255, 0.87);
    font-size: 3em;
    text-align: center;
}

h2 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 2.8em;
    text-align: center;
}